printWidth: 100
useTabs: true
semi: true
singleQuote: true
jsxSingleQuote: true
trailingComma: 'all'
bracketSpacing: true
jsxBracketSameLine: true
arrowParens: 'always'
proseWrap: 'preserve'
htmlWhitespaceSensitivity: 'css'
endOfLine: 'lf'
