.rsn-route {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
}

.rsn-route-enter {
	opacity: 0;
}
.rsn-route-enter-active {
	opacity: 1;
	transition: opacity 150ms ease-out;
}
.rsn-route-exit {
	opacity: 1;
}
.rsn-route-exit-active {
	opacity: 0;
	transition: opacity 150ms ease-out;
}
